<!DOCTYPE html>
<html lang="en">
<head>
	 <script src="http://connect.soundcloud.com/sdk.js"></script>
      <script>
        SC.initialize({
          client_id: 'ba035e36f9a62aad4c3774144aec6824'
        });
      </script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link href="/css/style.css" rel="stylesheet" type="text/css">

  <script src="http://connect.soundcloud.com/sdk.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<meta charset="UTF-8">
	<title>Sounddrop</title>
  <link rel="icon" type="image/png" href="/images/favicon.ico">

</head>
<body>

<div class="container text-center">
<div class="row outer-body">
<div class="row inner-body">
