<% include partials/header.ejs%>
	<div class='row text-center home-page'>
    <img src="http://i.imgur.com/yXAgWfR.png">
    <br><br>
   	<a href="/signup">Sign Up</a>
    <span class="glyphicon glyphicon-tint"></span>
   	<a href="/login">Sign In</a>
   </div>
<% include partials/footer.ejs%>