<% include partials/header.ejs%>

  <div class='row text-center login-signup'>
  	<img src="http://i.imgur.com/yXAgWfR.png">
  	<h2>Log In </h2>

	<!-- error flash message -->
		<% if (typeof message !== 'undefined') { %>
			<p style = "color:red;">
			<%= message %>
			</p>
		<% } %>

	<!-- login form -->
		<form action="/login" method = "post">
			<p>
				<input type="text" name="email" id="user" placeholder="email" autofocus value = <%=email %>>
			</p>
			<p>
				<input type="password" name="password" id="pass" placeholder="password">
			</p>
			<p>
				<input type="submit" value="Log In" class ="btn btn-primary ">
			</p>
		</form>
		<a href="/signup">Don't have an account? Create one here</a>
	</div>
<% include partials/footer.ejs%>


