<% include partials/header.ejs%>
   <div class='login'>
   <img src="http://i.imgur.com/yXAgWfR.png">
   <h2>Login </h2>


	<% if (typeof message !== 'undefined') { %>
		<p style = "color:red;">
		<%= message %>
		</p>
	<% } %>

	<br>
		
		<form action="/login" method = "post">

			<p>
				<label for="user">Email:</label> <input type="text" name="email" id="user" autofocus value = <%=email %>>
			</p>
			<p>
				<label for="pass">Password:</label> <input type="password" name="password" id="pass">
			</p>
			<p>
				<input type="submit" value="Log In" class ="btn btn-primary ">
			</p>
		</form>
		<a href="/signup">Don't have an account? Create one here</a>	
	</div class='login'>	
<% include partials/footer.ejs%>


