FOR REFERENCE - TO DELETE 

<!doctype html>
<html>
    <head>
      <script src="http://connect.soundcloud.com/sdk.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script>
        SC.initialize({
          client_id: 'ba035e36f9a62aad4c3774144aec6824'
          // client_id: process.env.SC_CLIENTID 
        });
        // find all sounds of buskers licensed under 'creative commons share alike'
        <% if (isAuthenticated) { %> // do we need 
        SC.get('/tracks', { q: '<%= taco %>'}, function(tracks) { //returns an array of objects of results 
          console.log(tracks)
          console.log(tracks.length)
          var tracksLength = tracks.length
          //creating number of tracks for for loop within the app.post 
           var numberOfTracks = "<form action='/add' method='post'><input type='hidden' name='trackNum' value=" + tracksLength + "></input></form"
           $('body').append(numberOfTracks)
          //for loop to display search results and create divs on the page
          for (var i = 0; i < 5; i++) {
            //set track # = to a variable or put it in a hidden div... then call it in app.post
            // <input type = "hidden" name = "tracklength" value = tracks.length> 
            var myForm = "<div class='track'><div id='track" + i + "'></div><form action='/add' method='POST'><input type='hidden' name='trackLink"+ i +"'value = " + tracks[i].permalink_url + "></input><input type='text' name='tag" + i +"'placeholder='add a tag'><input type='submit'></input></form></div>";
            $('body').append(myForm);
            //embed the tracks 
            SC.oEmbed(tracks[i].permalink_url, {auto_play: false, color: "ff0066"}, document.getElementById('track' + i));
           }  //end of for loop 
        });
        <% } %>
      </script>
    </head>
    <body>
      <a href="/">Home</a>
      <% if (isAuthenticated) { %>
      <a href="/logout">Logout</a>
     
      <% } else { %>
      <a href="/signup">Sign Up</a>
      <a href="/login">Sign In</a>
      <% } %>
           
    </body>
</html>

