<% include partials/header.ejs%>

  <%  if (!isAuthenticated){ %>
    <br>
    <div class="alert alert-warning">
    <a href="/login">You must be logged in to view this page</a>
    </div>
  <%  } else {%>
  <h1> #<%=tag%> </h1>
  <br><br>
  <script>
    window.onload = function(){
      var songs = JSON.parse('<%- JSON.stringify(songs) %>')
      SC.initialize({
        client_id: 'ba035e36f9a62aad4c3774144aec6824'
      });
      songs.forEach(function(song, i){
        var $myForm = $("<div class='track'><div id='track" + i + "'></div><form class='delete' method='post' action='/delete/"+song.id+"?_method=delete'><button class= 'btn btn-default '>Delete</button></form></div>")
          $("#results").append($myForm);
          SC.oEmbed(song.track_link, {auto_play: false, color: "ff0066"}, document.getElementById("track"+i));
          console.log($myForm)
          console.log("song", song.id)
      })
    }
  </script>
 
  <div id="results"></div>

  <br><br>

  <a href="/logout" class = "btn btn-default btn-lg">Log out here</a>
  <a href="/" class = "btn btn-default btn-lg">Go home</a>
  <br><br>

  <%  }%>
<% include partials/footer.ejs%>



