.inline {
	display:inline;
	color: black;
}

h1{
	text-align: left;
	color:black;
	background-color:black;

}
.sounddrop-header{
	color:#000;
}
.left{
	text-align:left;
}

.right{
	text-align:right;
}

.login {
	margin:8em 0em ;
}

.index {
	margin: 15em 0em;
}


.hashtags {
	margin: 12em 10em 5em 10em;
}

.track{
	margin: 2.5em 0em;
}

.search{
	margin:0em 0em 4em 0em;
}

/*outer black box styling*/
.outer-body{
	border: 10px solid;
  margin:3.5em 0em;
	color:black;
	padding: 1em 3.5em;
}


@media screen and (max-width:480px) {
  .outer-body { border:none;}
  }