.inline {
	display:inline;	
	color: black;
	/*background:rgb(13,255,0);*/
}

h1{
	text-align: left;
	color:black;

}
.left{
	text-align:left;
}

.right{
	text-align:right;
}

body {
	border: 10px solid;
    /*background-color: rgb(7,45,223);*/
    /*background-image: url(http://i.imgur.com/ZTW6fIY.png);*/
    /*background-image: url(http://i.imgur.com/Ld732yA.png);*/
    /*background-image: url(http://i.imgur.com/mbCNG6k.png);*/
    /*background-size: 5%;
    background-repeat: no-repeat;*/
    margin:5em;
}

.login {
	margin:8em 0em ; 
	/*background-image: url(http://i.imgur.com/y2nB0w3.png);*/
	/*background-repeat: no-repeat;*/
	/*background-size: 5%;*/
}

.index {
	margin: 15em 0em;
}


.hashtags {
	margin: 10em;
}

.track{
	/*background-color: rgb(13,255,0);*/
}

.search{
	margin:1em;
}